.row{
    display: flex;
    flex-wrap: wrap;
}
.col1{
    width: 8.333%;
}
.col2{
    width: 17%;
}
.col3{
    width: 25%;
}

.col4{
    width: 33.332%;
}

.col5{
    width: 42%;
}

.col6{
    width: 50%;
}

.col7{
    width: 58.331%;
}

.col8{
    width: 67%;
}

.col9{
    width: 75%;
}

.col10{
    width: 83.33%;
}

.col11{
    width: 92%;
}

.col12{
    width: 100%;
}


